Repository mandriv/swifty-app, pull requests merged in 2018-04, with the labels that each got.

#4 Fixes
  .gitignore
  build/lib/swifty-server/__init__.py
  build/lib/swifty-server/config.py
  build/lib/swifty-server/swifty-server.py
  server/setup.py
Labels: server

#6 Feat/auth login
  server/README.md
  server/server/User.py
  server/server/__init__.py
  server/server/app.py
  server/server/auth_routes.py
  server/server/auth_token.py
  server/server/sql
  server/server/user_routes.py
Labels: enhancement, server

#7 Feat/basic user api
  server/server/User.py
  server/server/auth_routes.py
  server/server/sql
  server/server/user_routes.py
Labels: enhancement, server

#13 Feat/userstats table
  server/API.md
  server/requirements.txt
  server/server/User.py
  server/server/UserStats.py
  server/server/app.py
  server/server/auth_routes.py
  server/server/sql
  server/server/stat_routes.py
  server/server/util.py
Labels: enhancement, server

#14 Fix/db migration
  server/migrations/README
  server/migrations/alembic.ini
  server/migrations/env.py
  server/migrations/script.py.mako
  server/migrations/versions/efa2bc20b4fc_.py
  server/requirements.txt
  server/server/__init__.py
  server/server/sql
Labels: enhancement, server

#16 Feat/profile picture
  server/.gitignore
  server/API.md
  server/server/__init__.py
  server/server/auth_routes.py
  server/server/stat_routes.py
  server/server/static/placeholder
  server/server/user_routes.py
Labels: enhancement, server

#17 Screens
  app/android/app/build.gradle
  app/android/app/src/main/assets/fonts/Entypo.ttf
  app/android/app/src/main/assets/fonts/EvilIcons.ttf
  app/android/app/src/main/assets/fonts/Feather.ttf
  app/android/app/src/main/assets/fonts/FontAwesome.ttf
  app/android/app/src/main/assets/fonts/Foundation.ttf
  app/android/app/src/main/assets/fonts/Ionicons.ttf
  app/android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
  app/android/app/src/main/assets/fonts/MaterialIcons.ttf
  app/android/app/src/main/assets/fonts/Octicons.ttf
  app/android/app/src/main/assets/fonts/SimpleLineIcons.ttf
  app/android/app/src/main/assets/fonts/Zocial.ttf
  app/android/settings.gradle
  app/package-lock.json
  app/package.json
  app/src/config/router.js
  app/src/screens/Leaderboard/index.js
  app/src/screens/Leaderboard/styles.js
  app/src/screens/Leaderboard/userimage.jpg
  app/src/screens/Map/index.js
  app/src/screens/Map/styles.js
  app/src/screens/Profile/index.js
  app/src/screens/Profile/styles.js
  app/src/screens/Profile/userimage.jpg
  app/src/screens/Register/RegisterForm/index.js
  app/src/screens/Register/RegisterForm/styles.js
  app/src/screens/Register/index.js
  app/src/screens/Register/styles.js
  app/src/screens/Settings/index.js
  app/src/screens/Settings/styles.js
  app/src/screens/SignIn/LoginForm/index.js
  app/src/screens/SignIn/LoginForm/styles.js
  app/src/screens/SignIn/index.js
  app/src/screens/SignIn/styles.js
  app/src/screens/Start/index.js
  app/src/screens/Today.js
  app/src/screens/Today/index.js
  app/src/screens/Today/styles.js
  app/yarn.lock
Labels: enhancement

#18 Feat/leaderboard backend
  server/API.md
  server/server/stat_routes.py
Labels: enhancement, server

#20 incremental user stat update
  server/server/stat_routes.py
Labels: enhancement, server

#28 Fix/requested fixes
  server/API.md
  server/migrations/versions/e3da170e2e02_.py
  server/server/Geolocation.py
  server/server/User.py
  server/server/__init__.py
  server/server/app.py
  server/server/geolocation_routes.py
  server/server/stat_routes.py
Labels: enhancement, server

#32 missing barckets
  server/server/stat_routes.py
Labels: enhancement, server
